USE [SIMS]
GO
/****** Object:  Table [dbo].[AcademicCalendar]    Script Date: 6/23/2026 3:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicCalendar](
	[CalendarID] [int] IDENTITY(1,1) NOT NULL,
	[EventTitle] [varchar](150) NULL,
	[EventDescription] [varchar](500) NULL,
	[EventDate] [date] NULL,
	[EventType] [varchar](50) NULL,
	[Semester] [varchar](20) NULL,
	[CreatedBy] [int] NULL,
	[Status] [varchar](20) NULL,
	[PublishStatus] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CalendarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 6/23/2026 3:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[AnnouncementID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[Content] [text] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[PublishStatus] [varchar](20) NULL,
	[Status] [varchar](20) NULL,
	[Semester] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AnnouncementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 6/23/2026 3:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentID] [int] NOT NULL,
	[AttendanceDate] [date] NOT NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 6/23/2026 3:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [varchar](20) NOT NULL,
	[CourseName] [varchar](150) NOT NULL,
	[CreditHours] [int] NOT NULL,
	[ProgrammeID] [int] NULL,
	[LecturerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 6/23/2026 3:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[Semester] [varchar](50) NULL,
	[AcademicYear] [int] NULL,
	[EnrollmentStatus] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturers]    Script Date: 6/23/2026 3:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturers](
	[LecturerID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Department] [varchar](100) NULL,
	[Specialization] [varchar](100) NULL,
	[HireDate] [date] NULL,
	[HOPprivileges] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LecturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/23/2026 3:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [varchar](150) NULL,
	[Message] [text] NULL,
	[SentDate] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programmes]    Script Date: 6/23/2026 3:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programmes](
	[ProgrammeID] [int] IDENTITY(1,1) NOT NULL,
	[ProgrammeName] [varchar](150) NOT NULL,
	[ProgrammeCode] [varchar](100) NULL,
	[DurationYears] [int] NULL,
	[LecturerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgrammeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 6/23/2026 3:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentID] [int] NOT NULL,
	[Marks] [decimal](5, 2) NULL,
	[Grade] [varchar](5) NULL,
	[GradePoint] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/23/2026 3:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 6/23/2026 3:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProgrammeID] [int] NULL,
	[IntakeYear] [int] NULL,
	[AdmissionStatus] [varchar](50) NULL,
	[CGPA] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/23/2026 3:39:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[RoleID] [int] NOT NULL,
	[AccountStatus] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AcademicCalendar] ON 

INSERT [dbo].[AcademicCalendar] ([CalendarID], [EventTitle], [EventDescription], [EventDate], [EventType], [Semester], [CreatedBy], [Status], [PublishStatus], [CreatedDate]) VALUES (2, N'Explosions', N'eee', CAST(N'1900-01-01' AS Date), N'Registration', N'Semester 1', NULL, N'Approved', N'Published', NULL)
INSERT [dbo].[AcademicCalendar] ([CalendarID], [EventTitle], [EventDescription], [EventDate], [EventType], [Semester], [CreatedBy], [Status], [PublishStatus], [CreatedDate]) VALUES (3, N'Eee', N'aaa', CAST(N'1900-01-01' AS Date), N'Registration', N'Semester 1', NULL, N'Approved', N'Published', NULL)
INSERT [dbo].[AcademicCalendar] ([CalendarID], [EventTitle], [EventDescription], [EventDate], [EventType], [Semester], [CreatedBy], [Status], [PublishStatus], [CreatedDate]) VALUES (4, N'Testing again', N'Testing more stuff', CAST(N'2026-07-08' AS Date), N'Registration', N'Semester 1', NULL, N'Approved', N'Published', NULL)
SET IDENTITY_INSERT [dbo].[AcademicCalendar] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [CourseCode], [CourseName], [CreditHours], [ProgrammeID], [LecturerID]) VALUES (1, N'CSC101', N'Database Systems', 3, 1, 7)
INSERT [dbo].[Courses] ([CourseID], [CourseCode], [CourseName], [CreditHours], [ProgrammeID], [LecturerID]) VALUES (2, N'HTTYD01', N'Creating Crack Cocaine for Dragons', 2, 5, 6)
INSERT [dbo].[Courses] ([CourseID], [CourseCode], [CourseName], [CreditHours], [ProgrammeID], [LecturerID]) VALUES (3, N'NUKE01', N'Introduction to Radioactive Materials', 4, 4, 5)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([EnrollmentID], [StudentID], [CourseID], [Semester], [AcademicYear], [EnrollmentStatus]) VALUES (1, 1, 1, N'Fall', 2025, N'Enrolled')
INSERT [dbo].[Enrollments] ([EnrollmentID], [StudentID], [CourseID], [Semester], [AcademicYear], [EnrollmentStatus]) VALUES (2, 2, 1, N'Fall', 2027, N'Enrolled')
INSERT [dbo].[Enrollments] ([EnrollmentID], [StudentID], [CourseID], [Semester], [AcademicYear], [EnrollmentStatus]) VALUES (3, 3, 4, N'Fall', 2022, N'Enrolled')
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Lecturers] ON 

INSERT [dbo].[Lecturers] ([LecturerID], [UserID], [Department], [Specialization], [HireDate], [HOPprivileges]) VALUES (1, 5, N'Rizz', N'Hella Rizz', NULL, 1)
INSERT [dbo].[Lecturers] ([LecturerID], [UserID], [Department], [Specialization], [HireDate], [HOPprivileges]) VALUES (3, 9, N'Magic', N'Explosive Magic', NULL, 1)
INSERT [dbo].[Lecturers] ([LecturerID], [UserID], [Department], [Specialization], [HireDate], [HOPprivileges]) VALUES (4, 10, N'The Dark Arts', N'very very evil dark arts', NULL, 0)
SET IDENTITY_INSERT [dbo].[Lecturers] OFF
GO
SET IDENTITY_INSERT [dbo].[Programmes] ON 

INSERT [dbo].[Programmes] ([ProgrammeID], [ProgrammeName], [ProgrammeCode], [DurationYears], [LecturerID]) VALUES (1, N'Bachelor Computer Science', N'69420Proto', 4, 7)
INSERT [dbo].[Programmes] ([ProgrammeID], [ProgrammeName], [ProgrammeCode], [DurationYears], [LecturerID]) VALUES (3, N'Illegal Bachelor''s in Unethical Nuclear Science', N'IBUNS', 4, 5)
INSERT [dbo].[Programmes] ([ProgrammeID], [ProgrammeName], [ProgrammeCode], [DurationYears], [LecturerID]) VALUES (4, N'Legal Bachelor''s in Ethical Nuclear Science', N'LBENS', 4, 5)
SET IDENTITY_INSERT [dbo].[Programmes] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Lecturer')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Student')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [UserID], [ProgrammeID], [IntakeYear], [AdmissionStatus], [CGPA]) VALUES (1, 4, 1, 2002, N'Accepted', CAST(3.50 AS Decimal(3, 2)))
INSERT [dbo].[Students] ([StudentID], [UserID], [ProgrammeID], [IntakeYear], [AdmissionStatus], [CGPA]) VALUES (2, 8, 1, 2001, N'Accepted', CAST(3.50 AS Decimal(3, 2)))
INSERT [dbo].[Students] ([StudentID], [UserID], [ProgrammeID], [IntakeYear], [AdmissionStatus], [CGPA]) VALUES (3, 15, 3, 2022, N'Pending', CAST(3.50 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [RoleID], [AccountStatus], [CreatedDate]) VALUES (1, N'System Admin', N'admin@gmail.com', N'admin123', 1, N'Active', CAST(N'2026-05-31T16:35:29.503' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [RoleID], [AccountStatus], [CreatedDate]) VALUES (2, N'Proto Lecturer', N'lect@gmail.com', N'lect123', 2, N'Active', CAST(N'2026-05-31T16:47:47.890' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [PasswordHash], [RoleID], [AccountStatus], [CreatedDate]) VALUES (3, N'Proto Student', N'student@gmail.com', N'student123', 3, N'Active', CAST(N'2026-05-31T16:48:06.537' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Courses__FC00E000A5A11DD6]    Script Date: 6/23/2026 3:39:57 PM ******/
ALTER TABLE [dbo].[Courses] ADD UNIQUE NONCLUSTERED 
(
	[CourseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Lecturer__1788CCADDD72BFFA]    Script Date: 6/23/2026 3:39:57 PM ******/
ALTER TABLE [dbo].[Lecturers] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Results__7F6877FA8532E03C]    Script Date: 6/23/2026 3:39:57 PM ******/
ALTER TABLE [dbo].[Results] ADD UNIQUE NONCLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Students__1788CCAD3C4ABC31]    Script Date: 6/23/2026 3:39:57 PM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534EC28704C]    Script Date: 6/23/2026 3:39:57 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Lecturers] ADD  DEFAULT ((0)) FOR [HOPprivileges]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [SentDate]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [AccountStatus]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[AcademicCalendar]  WITH CHECK ADD  CONSTRAINT [FK_AcademicCalendar_Users] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AcademicCalendar] CHECK CONSTRAINT [FK_AcademicCalendar_Users]
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([EnrollmentID])
REFERENCES [dbo].[Enrollments] ([EnrollmentID])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([LecturerID])
REFERENCES [dbo].[Lecturers] ([LecturerID])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([ProgrammeID])
REFERENCES [dbo].[Programmes] ([ProgrammeID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Lecturers]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Programmes]  WITH CHECK ADD  CONSTRAINT [FK_Programmes_Lecturers] FOREIGN KEY([LecturerID])
REFERENCES [dbo].[Lecturers] ([LecturerID])
GO
ALTER TABLE [dbo].[Programmes] CHECK CONSTRAINT [FK_Programmes_Lecturers]
GO
ALTER TABLE [dbo].[Results]  WITH CHECK ADD FOREIGN KEY([EnrollmentID])
REFERENCES [dbo].[Enrollments] ([EnrollmentID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([ProgrammeID])
REFERENCES [dbo].[Programmes] ([ProgrammeID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
